@import "./helpers/variables";
@import "./helpers/mixins";
.Banner {
  $border-color: #635f5f;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 3rem;
  height: 100%;
  width: 100%;
  border: 10px double #9d835b7d;
  // background-image: url("../../images/paper-texture.png");
  background-repeat: repeat;
  opacity: 0.75;

  // @media screen and (min-width: $screen-width-sm) {

  //   padding: 1rem 3rem;
  // }

  @media screen and (min-width: $screen-width-lg) {
    padding: 1rem;
    // width: 85%;
    //     height: 85%;
  }

  &__header,
  &__date,
  &__location {
    color: $color-text;
    font-family: $font-family-body;
    letter-spacing: 5px;
    font-weight: 500;
  }

  &__header,
  &__date {
    text-transform: uppercase;
    font-size: 22px;

    @media screen and (min-width: $screen-width-sm) {
      font-size: 24px;
    }
  }

  &__date {
    margin-bottom: 10px;
  }

  &__location {
    font-size: 16px;

    @media screen and (min-width: $screen-width-sm) {
      font-size: 22px;
    }
  }

  &__logoContainer {
    padding: 2.5rem;
    max-width: 330px;
    margin: 1rem auto;
    width: 100%;
    font-size: 6rem;
    font-family: "Neonderthaw", cursive;
  }

  &__nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    @media screen and (min-width: $screen-width-md) {
      flex-flow: row wrap;
    }
  }
  &__btn {
    @include siteBtn();
    width: 100px;
    color: $color-text;
    // background-color: transparent;
    // background: transparent;

    margin: 0 auto;
    background-color: #c1bfbf;
    background-image: linear-gradient(312deg, #bf953f5c, #fcf6ba, #b3872861, #fbf5b7, #aa771c6e);

    box-shadow: 0 0 1px 0px #545454;
    opacity: 0.87;
    &:hover {
      background-color: #c1bfbf;
      background-image: linear-gradient(325deg, #bf953f5c, #fcf6ba, #b3872861, #fbf5b7, #aa771c6e);
      box-shadow: 0 0 3px 0px #545454;
      opacity: 1;
      color: $color-text;
    }
  }

  &__btnText {
    @include siteBtn();
    color: $color-text;
    margin-right: 10px;
    border: 1px solid #c1bfbf;
    background-color: white;
    margin-bottom: 1rem;

    &:hover {
      border: none;
      background-color: #c1bfbf;
      background-image: linear-gradient(325deg, #bf953f5c, #fcf6ba, #b3872861, #fbf5b7, #aa771c6e);
      box-shadow: 0 0 3px 0px #545454;
      opacity: 1;
      color: $color-text;
    }
  }
}
