@import "./helpers/variables";
@import "./helpers/mixins";
.Banner {
  $border-color: #635f5f;
position: relative;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: center;
height: 80%;
width: 68%;
padding: 1rem 3rem;
border: 5px double #9d835b7d;

  &__header,
  &__date,
  &__location {
    color: $color-text;
    font-family: $font-family-body;
    letter-spacing: 5px;
    font-weight: 500;

  }
  
  &__header,
  &__date {
    text-transform: uppercase;
    font-size: 36px;
  }

  &__location {
    font-size: 28px;
  }

  &__logoContainer {
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
  }
  
  &__btn{
  @include siteBtn();
  background-color: transparent;
  
  
  // max-width: 600px;
  margin: 0 auto;
 border-bottom: 2px #635f5f double;
  // border-bottom: 3px solid gold;
  }
}
