@import "./helpers/variables";

.OneColumn {
  .palmIcon {
    height: 90px;
    width: 90px;
    margin-bottom: 5rem;

    svg {
      width: 100%;
      height: auto;
    }
  }

  min-height: 90vh;
  width: 100%;

  margin: 0 auto;
  position: relative;

  padding: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--white {
    background-color: white;
  }
  &--ltgrey {
    background-color: #ebebeb;
  }

  &__heading2 {
    color: #272727;
    font-family: $font-family-serif;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  &__heading3 {
    color: #272727;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__infoText {
    text-align: center;
    font-size: 1.5rem;
    font-family: $font-family-alt;
    max-width: 1060px;
    padding: 1rem;
    line-height: 2.5rem;
  }

  &__address {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;

    p {
      margin-bottom: 0;
    }
  }

  & .Button__textTransparent,
  & .Banner__btnText {
    margin-top: 2rem;
  }
}
