.SiteIntro{
// background-image: url('../../images/annie-spratt_XdU9Q5iFRE-unsplash.jpg');
background-image: url('../../images/intro_bg.jpg');
height: 100%;
width: 100%;
background-repeat: repeat-x;
background-size: cover;
background-position: bottom;
min-height: 100vh;
// padding: 2rem;
// min-height: 560px;
padding: 3rem 2rem;
}