.TwoColumn {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 8rem;
  background: #c4c4c4bf;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  &__right {
    // background-color: #C4C4C4;
    height: 100%;

    .eNcUUU {
      background-color: none !important;
    }
  }
}
